* {
    margin: 0; 
    padding: 0px;
}

p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p.title {
    padding: 5px;
    background-color: #3d3d3e;
    color: #eee; 

    margin-bottom: 5px;
    text-align: center;
}

input {
    padding: 2px;

    text-align: center;
}

button {
    padding: 4px;

    margin-left: 5px;
}

.waveform {
    display: flex;

    position: relative;
    margin: 10px;
    height: 32px;
}

.waveform > .piece {
    width: 32px;
    height: 32px;
}

.waveform > .piece.left {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.waveform > .piece.middle {
    border-top: 1px solid black;
}

.waveform > .piece.right {
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.waveform > .piece.low {
    border-bottom: 1px solid black;
}

.waveform > .piece.high {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.set {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: #cccccc;
}

.set > .input {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;

    padding: 5px 5px 3px 5px;
    background-color: #3d3d3e;

    text-align: center;
}

.set > .input > input {
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    color: white;

    border: unset;
    background-color: #3D3D3E;
}

.set > .waveform {
    justify-content: center;

    padding-bottom: 10px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

body {
    display: flex;
    flex-direction: row;

    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

body > div {
    flex: 1;

    margin-bottom: 5px;
}

.inputs, .expressions {
    margin-left: 5px;
    margin-right: 5px;
}

@media all and (max-width: 600px) {
    body {
        flex-direction: column;
    }
}
